/* Reset и базовая структура */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #000;
}

/* Базовые стили */
body {
  min-height: 1100px;
  background-color: white;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-text);
}

/* Изображения */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Ссылки */
a {
  text-decoration: none;
  color: inherit;
}


/* Списки */
ul,
ol {
  list-style: none;
}

/* Заголовки */
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 var(--gap-medium);
}
